@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Archie Birds application enables us to record details of 
    all archaeological finds relating to Archaeopteryx Lithographica (“Archie”) specimens</p>
