
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Archie Birds</h2>
        <p>
            Use Birds menu item to see, add or modify Archie birds description. 
        </p>
    </div>
    <div class="col-md-4">
</div>


